[Unit]
Description=keyboard_helper_service
DefaultDependencies=no

[Service]
#Type=simple
Type=idle
KillSignal=SIGINT
RestrictRealtime=false
LimitRTPRIO=infinity
CPUSchedulingPriority=99
CPUSchedulingPolicy=rr
IOSchedulingClass=realtime
IOSchedulingPriority=3
#TimeoutStopSec=8
#Restart=on-failure
Restart=always
#RestartSec=5
StandardOutput=file:/home/dan/git/PyChorder/service.log
StandardError=file:/home/dan/git/PyChorder/service.log
SyslogIdentifier=battery_file


### Change the paths below to match yours
WorkingDirectory=/home/dan/git/PyChorder
ExecStart=/home/dan/git/PyChorder/keyboard_service.py
###

[Install]
WantedBy=sysinit.target
